.slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* Ensure it's behind the content */
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: slideshow 45s infinite; /* 5 seconds per image * 9 images = 45 seconds total */
}

/* Delay for each image */
.slideshow-image:nth-child(1) { animation-delay: 0s; }
.slideshow-image:nth-child(2) { animation-delay: 5s; }
.slideshow-image:nth-child(3) { animation-delay: 10s; }
.slideshow-image:nth-child(4) { animation-delay: 15s; }
.slideshow-image:nth-child(5) { animation-delay: 20s; }
.slideshow-image:nth-child(6) { animation-delay: 25s; }
.slideshow-image:nth-child(7) { animation-delay: 30s; }
.slideshow-image:nth-child(8) { animation-delay: 35s; }
.slideshow-image:nth-child(9) { animation-delay: 40s; }


@keyframes slideshow {
  0% { opacity: 0; transform: scale(1.1); }
  8% { opacity: 1; transform: scale(1); }
  17% { opacity: 1; transform: scale(1); }
  25% { opacity: 0; transform: scale(1.1); }
  100% { opacity: 0; }
}

.leaflet-marker-icon {
  width: 25px !important;
  height: 41px !important;
  margin-left: -12px !important;
  margin-top: -41px !important;
}